{# src/MagicSSO/Bundle/Resources/views/User/registration.email.twig #}

{% block subject %}LinuxFans Community - Registration verification{% endblock %}

{% block body_text %}
{% autoescape false %}
Hello {{ user.username }} !

To finish activating your account - please visit {{ confirmationUrl }}

Regards,
the LinuxFans team
{% endautoescape %}
{% endblock %}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
    e.g. include 'MagicSSOBundle:User:resetting_email.html.twig'
#}
<p>Hello {{ user.username }} !</p>
<p>
To finish activating your account - please visit {{ confirmationUrl }}
</p>
<p>
Regards, <br />
the LinuxFans team
</p>
{% endblock %}
