{# src/MagicSSO/Bundle/Resources/views/User/resetting.email.twig #}

{% block subject %}LinuxFans Community - Resetting your password{% endblock %}

{% block body_text %}
{% autoescape false %}
Hello {{ user.username }} !

You can reset your email by accessing {{ confirmationUrl }}

Greetings,
the LinuxFans team
{% endautoescape %}
{% endblock %}

{% block body_html %}
<p>Hello {{ user.username }} !</p>
<p>
You can reset your email by accessing {{ confirmationUrl }}
</p>
<p>
Greetings,<br />
the LinuxFans team
</p>
{% endblock %}
